body{
    font-family: 'Merriweather', serif;
}
header{
    background-color: #fffbf0;
}
.navbar img {
    width: 270px;
    margin-left: 100px;
}
a.nav-link {
    margin: 0px 25px;
}
.display img {
        width: 100%;
}
#headline-1{
    color: #fabe4c;
    font-weight: 700;
    font-size: 50px;
}
#headline-2{
    color: #363958;
    font-weight: 700;
    font-size: 50px;
}
#headline-text{
    color: #4f4c49;
    margin: 20px 0px;
}
#shopping-cart{
    width: 25px;
}
.shop-btn {
    background-color: #9bb438;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
}
.woman-jacket-card {
    border: 0;
    border-radius: 20px;
}
#information-icon{
    width: 20%;
    cursor: pointer;
}
#information-big-logo {
    width: 90%;
}
.p-3.d-flex.justify-content-around.align-items-center.information-item {
    background-color: #f4f8f5;
    border-radius: 10px;
    box-shadow: 7px 8px 3px #e6e6e9;
}
.contact-part {
    background-color: #eeefeaf7;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 6px #ede8e8;
}
.font-icon{
    color: #1714cc;
    font-size: 20px;
}
span#our-email:hover {
    color: #1016e1;
}
span#our-number:hover {
    color: #1016e1;
}
.shop-btn:hover {
    /* background-color: #393db6; */
    background-image: linear-gradient(#1016e1, #1e1d3a);
    color: yellow;
}
.shop-btn:hover #shopping-cart{
    color:yellow;
}